---
import dayjs from 'dayjs';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import PostHeader from '../components/PostHeader.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, POST_COUNT_IN_INDEX } from '../config';

export interface Frontmatter {
  title: string;
  description: string;
  date: string;
  categories: string[];
}

const posts = (await Astro.glob<Frontmatter>('./*/*.md'))
  .sort(
    (a, b) =>
      dayjs(b.frontmatter.date).valueOf() - dayjs(a.frontmatter.date).valueOf()
  )
  .slice(0, POST_COUNT_IN_INDEX);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .article-block:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        {
          posts.map((post) => (
            <div class="article-block">
              <PostHeader
                url={post.url}
                title={post.frontmatter.title}
                date={post.frontmatter.date}
                categories={post.frontmatter.categories}
              />
              <article set:html={post.compiledContent()} />
            </div>
          ))
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
