---
import BaseHead from '@Layers/BaseHead.astro';
import { sortPostByDate } from '@Tools/post';
import type { Post } from '@Models/GeneralTypes';

const allPosts = await Astro.glob<Post>('../pages/posts/**/*.md');
const sortedPosts = sortPostByDate(allPosts);
---

<html lang="en">
  <head>
    <BaseHead title="普通文組 2.0" description="tzyn blog v2 index" />
  </head>
  <body>
    <h1>Astro</h1>
    {
      sortedPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
          <div>{post.frontmatter.date}</div>
          <div>{post.frontmatter.tag}</div>
          {post.frontmatter.banner && <img src={post.frontmatter.banner} />}
          {post.frontmatter.summary && (
            <div set:html={post.frontmatter.summary} />
          )}
        </li>
      ))
    }
  </body>
</html>
