---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import PostHeader from '../components/PostHeader.astro';
import Footer from '../components/Footer.astro';

interface Props {
  content: {
    title: string;
    description: string;
    date: string;
    categories: string[];
  };
}

const {
  content: { title, description, date, categories },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <article>
        <PostHeader title={title} date={date} categories={categories} />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
